<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
        <app-spinner *ngIf="(loading$ | async)"></app-spinner>
        <ng-container *ngIf="!(loading$ | async)" >
            <input [(ngModel)]="searchText" placeholder="Search" (ngModelChange)="searchSubject$.next()" class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500"type="text">
            <div class="flex flex-wrap">
               <app-elixir-list-item [routerLink]="['/',item.id ]" class="w-full cursor-pointer" *ngFor="let item of elixirList$ | async" [elixir]="item"></app-elixir-list-item>
            </div>
        </ng-container>
    </div>
</section>